{% extends "./base.html.twig" %}

{% block body %}

	<twig:BannersTop/>

	<div class="w-4/5 m-auto text-center my-8">
		<p class="text-base text-gray-700 leading-6 font-light float-left mb-8">
			Бидэнтэй холбогдох: 773-230-4447;
			<a href="mailto:firewallsolution.llc@gmail.com">
				firewallsolution.llc@gmail.com
			</a>
		</p>

		<img src="{{ asset('images/e/6.png') }}" alt="" class="shadow-xl rounded-md"/>
	</div>

	<twig:BannersBottom/>

{% endblock %}
