{% extends "./base.html.twig" %}

{% block body %}
	<div class="md:grid lg:grid-cols-3 gap-4 w-4/5 mx-auto my-20">

		<div>
			<img src="{{ asset('images/s/bayarjargal-sereenen.png') }}" alt="" class="shadow-xl rounded-md mb-4" style="height: 300px"/>
			<b class="mt-2">Bayarjargal Sereenen</b>
			<h2 class="mt-2">Attorney at law</h2>
			<div class="mt-2">
				<b>Address</b>: 27475 Ferry Rd Suite 112, Warrenville, IL 60555</div>
			<div class="mt-2">
				<b>Email</b>: tsegtslaw@gmail.com</div>
			<div class="mt-2">
				<b>Phone</b>: 773-999-9933, 773-387-7901</div>
		</div>
		<div>
			<img src="{{ asset('images/s/duka-baatarchuluun.jpg') }}" alt="" class="shadow-xl rounded-md mb-4" style="height: 300px"/>
			<b class="mt-2">Duka Baatarchuluun</b>
			<h2 class="mt-2">Licensed to Practice Law in Illinois</h2>
			<div class="mt-2">
				<b>Address</b>: 4747 W. Peterson Ave, Suite 302, Chicago, IL 60646
			</div>
			<div class="mt-2">
				<b>Email</b>: duka@dbassociatesltd.com</div>
			<div class="mt-2">
				<b>Phone</b>: (847) 802-8216</div>
		</div>
	</div>
{% endblock %}
