{% extends "./base.html.twig" %}

{% block body %}
	<div class="md:grid lg:grid-cols-3 gap-4 w-4/5 mx-auto my-20">
		<img src="{{ asset('images/s/16.jpeg') }}" alt="" class="shadow-xl rounded-md"/>
		<img src="{{ asset('images/s/8.jpeg') }}" alt="" class="shadow-xl rounded-md"/>
	</div>
{% endblock %}
