<div class="w-4/5 m-auto mt-16 mb-4 flex">
	<div class="flex-initial mr-4">
		<img src="{{ asset('images/b/lunar2024.jpeg') }}" alt="" class="shadow-xl rounded-md" width="250"/>
	</div>
	<div class="flex-initial mr-4">
		<a href="https://www.facebook.com/firewall.solutions.llc" target="_blank">
			<img src="{{ asset('images/b/firewall-solutions-llc.png') }}" alt="" class="shadow-xl rounded-md" width="250"/>
		</a>
	</div>
	<div class="flex-initial mr-4">
		<img src="{{ asset('images/b/green.png') }}" alt="" class="shadow-xl rounded-md" width="250"/>
	</div>
	<div class="flex-initial mr-4">
		<img src="{{ asset('images/b/green.png') }}" alt="" class="shadow-xl rounded-md" width="250"/>
	</div>
</div>
