{% extends "./base.html.twig" %}

{% block body %}
	<div
		class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
		<!-- Review Item -->
		<div class="text-center pt-8 pb-4">
			<img src="{{ asset('images/green-small.png') }}" alt="" class="shadow-xl rounded-md" width="250"/>
		</div>
	{% endblock %}
